.idea
.vscode
build/
Testing/
.cmake/

CMakeFiles
Makefile
CMakeCache.txt
*.cmake
DartConfiguration.tcl
levelz-test-*
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
install_manifest.txt

*.o
*.a
*.so
*.dylib
*.dll